<div class='homepage-post-list'>
  {{#each blogPosts as |blogPost|}}
    <div>
      <button type='button' id='blogpost-{{blogPost.id}}'>
        {{blogPost.title}}
        Posted by:
        {{blogPost.user.name}}
        on
        {{format_date blogPost.date_created}}
      </button>
      <div>
        <p>{{blogPost.content}}</p>
      </div>
    </div>
  {{/each}}
</div>

<script src='/js/homepage.js'></script>