<h1>The Tech Blog</h1>
<div class='homepage-post-list'>
  {{#each blogPosts as |blogPost|}}
    <div class='post-container'>
      <div class='post-header'>

        <button
          type='button'
          id='blogpost-{{blogPost.id}}'
          class='post-header-button'
        >
          <h2 id='blogpost-{{blogPost.id}}'>{{blogPost.title}}</h2>
          <span id='blogpost-{{blogPost.id}}' class='user-tag'>
            Posted by:
            {{blogPost.user.name}}
            on
            {{format_date blogPost.date_created}}
          </span>
        </button>
      </div>
      <div class='p-div'>
        <p>{{blogPost.content}}</p>
      </div>
    </div>
  {{/each}}
</div>

<script src='./js/homepage.js'></script>